.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.custom-video {
    width: 30%; /* Ajuste la largeur de la vidéo */
    max-width: 100%;
    height: auto; /* Ajuste la hauteur automatiquement */
    border-radius: 20px; /* Bordures arrondies */
}
